<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mx-auto" style="gap: 1rem;">
            <li class="nav-item">
                <a class="nav-link" href="/movies">Llistat de Pel·lícules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies/form-afegir">Afegir Nova Pel·lícula</a>
            </li>
            {% if user %}
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout {{user.username}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Registrar-se</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>