{% extends "../base.njk" %}

{% block titol %}Llistat de Pel·lícules{% endblock %}
{% block titolSeccio %}Llistat de Pel·lícules{% endblock %}

{% block contingut %}

<!-- Toast per al missatge d'èxit (per a quan s'esborra una peli): -->
{% if success %}
<div class="toast align-items-center text-bg-success border-0 position-fixed bottom-0 end-0 m-3" style="z-index: 1050;"
    role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
    <div class="d-flex">
        <div class="toast-body">
            {{ success }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>
{% endif %}

<!-- Botó Canviar Llistat (favorites/totes): -->
<div class="d-flex justify-content-center mt-4" style="width: 100%;">
    <button id="toggle-favorites" class="btn btn-md btn-dark me-2" onclick="toggleFavorites()">Mostrar
        favorites</button>
</div>

<!-- LListat de Pelis: -->
<div class="mx-auto mt-4" style="max-width: 1000px;">
    <ul class="list-group">
        {% for movie in movies %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ movie.title }}</span>
            <div>
                <!-- Icono corazón: -->
                <button class="btn btn-sm bg-white" type="submit">
                    <i id="heart-icon" class="fa-regular fa-heart" style="color:red"
                        data-is-favorite="{{ movie.isFavorite }}" onclick="toggleFav(this, '{{ movie._id }}')"></i>
                </button>
                <!-- Botón visualizar: -->
                <a href="/movies/{{ movie._id }}" class="btn btn-sm btn-light me-2">Visualitzar</a>
                <!-- Icono papelera: -->
                <form action="/movies/delete/{{ movie._id }}" method="POST" style="display: inline;">
                    <button class="btn btn-sm btn-danger" type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- SCRIPTS: -->
<script src="/js/scripts.js"></script>

{% endblock %}